<p id="notice"><%= notice %></p>

<p>
  <b>Issue url:</b>
  <%= @pledge.issue_url %>
</p>

<p>
  <b>Issure title:</b>
  <%= @pledge.issure_title %>
</p>

<p>
  <b>Amount:</b>
  <%= @pledge.amount %>
</p>


<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
