<h1>Listing submits</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Hint</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submits.each do |submit| %>
  <tr>
    <td><%= submit.Game %></td>
    <td><%= submit.Hint %></td>
    <td><%= link_to 'Show', submit %></td>
    <td><%= link_to 'Edit', edit_submit_path(submit) %></td>
    <td><%= link_to 'Destroy', submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submit', new_submit_path %>
